[submodule "flatline-whisper-service"]
	path = flatline-whisper-service
	url = https://github.com/mollyim/flatline-whisper-service.git
[submodule "flatline-storage-service"]
	path = flatline-storage-service
	url = https://github.com/mollyim/flatline-storage-service.git
[submodule "flatline-contact-discovery-service"]
	path = flatline-contact-discovery-service
	url = https://github.com/mollyim/flatline-contact-discovery-service.git
[submodule "flatline-calling-service"]
	path = flatline-calling-service
	url = https://github.com/mollyim/flatline-calling-service.git
