[req]
distinguished_name = dn
req_extensions = req_ext
prompt = no
default_md = sha256

[dn]
O = Flatline Dev
CN = *.flatline.internal

[req_ext]
subjectAltName = DNS:*.flatline.internal,DNS:flatline.internal
