basicConstraints = CA:FALSE
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:*.flatline.internal,DNS:flatline.internal
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
