basicConstraints = CA:FALSE
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:*.flatline.localhost,DNS:flatline.localhost
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
